
<h2> Score Multiple Words </h2>


<form action="/score-many" method="post" accept-charset="utf-8">
  <label>How many words do you want to score?<input type="number" name="number" value="" min="1" max="10"></label>
  <input type="submit" value="This many!">
</form>
