<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/style.css">
    <title>Scrabble Sinatra</title>
  </head>

  <body>
    <header>
      <a href="/" class="nodec"><h1>Scrabble Sinatra</h1></a>
      <img src="images/sinatrascrab.png">
    </header>

    <main>
      <%= yield %>
    </main>

      <footer>
        2016 Scrabble Sinatra
      </footer>
  </body>
