<% if @scored_words %>
  <h2> Here are your results: </h2>
  <% @scored_words.each do |word_hash| %>
    <h3> The value of the word <span class = "word"><%= word_hash[:word] %></span> is <span class = "word"><%= word_hash[:score] %></span>.</h3>
    <h4> Breakdown: </h4>
    <p>
      <% word_hash[:letter_hashes_array].each do |hash| %>
        <%= hash[:letter] %>: <%= hash[:value] %><br>
      <% end %>
      <% if word_hash[:word].length == 7 %>
        <br>Plus 50 extra points for being 7 letters exactly!
      <% end %>
    </p>
  <% end %>
<% end %>


<% if @number && @scored_words.nil? == true %>
  <h2> Enter your words here: </h2>
  <form action="" method="post" accept-charset="utf-8">
  <% @number.times do %>
    <label>Enter word:<input type="text" pattern="[A-Za-z]+" title="Only letters allowed." name="all_words[]" value=""></label>
  <% end %>
    <input type="submit" value="Score!">
  </form>

<% end %>
