body {

  font-size: 14px;
}

header {
  background-color: #d04000;
  padding: 10px;
}


header img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

}

h1 {
  color: white;
  text-align: center;
  font-size: 55px;
}


a.nodec {
  text-decoration: none;
}

footer {
  padding: 15px;
}
